body {
    background-color: #000;
}
body, h1 {
    text-align: center;
    color: red;
}
.test {
    width: 750px;
    height: 300px;
    background: center / cover no-repeat url(../images/oronaminc__waiting.png);
}